@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html,body{
padding: 0;
margin: 0;
font-family: Inter,sans-serif;

}

header,footer{
    background-color: #f55a5a;
    color: white;
    text-align: center;
    padding: 1px 0;
}

.nav-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
}

.nav-logo{
    height: 2rem;
}

.header h2{
    font-weight: 500;
    letter-spacing: -.075em;
    line-height: 1em;
}

footer{
    padding: 1rem 0;
}
.card {
    display: flex;
    padding: 2rem ;
    gap: 2rem;
}

.card img{
    aspect-ratio: 16/9;
    border-radius: 4px;
    height: 100%;
    object-fit: cover;
    width: 20rem;

    transition: transform .5s; 
}

.card img:hover{
    transform: scale(1.05); 
}

.card p {
    font-size: .75rem;
    font-weight: 400;
    line-height: 150%;
}

section div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

section div a {
    font-size: .75rem;
}

section span {
    font-size: .75rem;
    letter-spacing: .17rem;
}

section h2 {
    font-size: 2rem;
    margin: .25em 0;
}

hr{
    margin:0 2rem;
}



